html,
body {
    width: 100%;
    height: 100%;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

html,
body,
div,
img,
input,
textarea,
p,
span,
video {
    margin: 0;
    padding: 0;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    -webkit-user-select: none;
    user-select: none;
    -webkit-overflow-scrolling: touch;
    background-color: #f6f6f6;
    font-family: -apple-system-font, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei UI", "Microsoft YaHei", Arial, sans-serif;
    color: #333;
}

img,
video {
    display: block;
    width: 100%;
}

input,
textarea {
    display: block;
    border: none;
    outline: none;
}

a {
    color: #333;
    text-decoration: none;
}


/*@media screen and (min-device-width: 960px) {
	body {
		width: 450PX !important;
		margin: 0 auto;
	}
}*/

.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.flex-one {
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

.flex-between {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.flex-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
}

.ell {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}